:root {
    --bg-color: #ccc;
    --text-color: #fff;
    --label-color: #00f;
    --disabled-color: #aaa;
    --tertiary-color: #f80;
    --quaternary-color: #f0f;
    --quinary-color: #0af;
    --senary-color: #555;
    --septenary-color: #ddd;

    --topic-img-size: 320px;
    --product-card-size: 560px;
}

/* ----- colors ----- */
.text-disabled {
    color: var(--disabled-color);
}
.bg-disabled {
    background-color: var(--disabled-color);
}

.text-tertiary {
    color: var(--tertiary-color) !important;
}
.bg-tertiary {
    background-color: var(--tertiary-color) !important;
}

.text-quaternary {
    color: var(--quaternary-color) !important;
}
.bg-quaternary {
    background-color: var(--quaternary-color) !important;
}

.text-quinary {
    color: var(--quinary-color) !important;
}
.bg-quinary {
    background-color: var(--quinary-color) !important;
}

.text-senary {
    color: var(--senary-color) !important;
}
.bg-senary {
    background-color: var(--senary-color) !important;
}

.text-septenary {
    color: var(--septenary-color) !important;
}
.bg-septenary {
    background-color: var(--septenary-color) !important;
}



body {
    background-color: var(--bg-color) !important;
}

main {
    margin-top: 128px;
}

p, li, ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

a:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.col-form-label::after {
    display: block;
    content: '---------------';
    font-weight: bold;
    color: var(--quinary-color);
}

.top-title {
    margin-bottom: 32px;
    border-bottom: 4px solid var(--text-color);
    color: var(--text-color);
    font-weight: bold;
}

.title {
    margin-bottom: 32px;
    border-bottom: 1px solid var(--senary-color);
    font-weight: bold;
}

.img-gradation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, var(--bg-color), transparent);
}

.card {
    border-radius: 0 !important;
}

.card-header {
    border-radius: 0 !important;
    color: #fff !important;
    font-weight: bold;
}

.modal-content {
    border-radius: 4px !important;
}

.modal-content a,
.navbar-toggler {
    text-decoration: none;
    border: none !important;
    color: var(--senary-color);
}

.btn {
    border-radius: 4px !important;
}

.mypage-btn {
    text-decoration: none;
    color: var(--senary-color);
}

.mypage-btn:hover {
    opacity: 0.7;
}

.search-form {
    margin-left: 0;
    display: flex;
}

.search-form > input[type="text"] {
    width: calc(100% - 64px);
    border-radius: 4px 0 0 4px;
}

.search-form > button {
    border-radius: 0 4px 4px 0 !important;
}

.main-navbar {
    background-color: #eee;
}

.sub-navbar {
    background-color: var(--senary-color);
}

.sub-navbar a {
    color: #eee;
}

/* credit_card Page */
.card-area {
    position: relative;
}

.card-items:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.card-items .card {
    border-radius: 8px !important;
    cursor: pointer;
}

.card-items.active .card-body {
    color: #00f;
}

.card-items.active .col-2::after {
    content: '◀◀';
}

.card-views {
    display: none;
    position: absolute;
    right: 16px;
    left: 16px;
}

.product-card {
    height: var(--product-card-size) !important;
}

.product-card > .card-img {
    height: 75% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.product-card > .card-title {
    padding: 8px;
    background-color: var(--quinary-color);
    color: #fff;
}

.product-card > .card-body {
    height: 20%;
}

/* Home Style */

#top-carousel {
    position: absolute;
    top: 0;
}

#topic-carousel img {
    height: var(--topic-img-size);
    object-fit: cover;
}

/* Phone Size */
@media screen and (max-width: 767px) {

    p, span, strong, small, label, a {
        font-size: 0.7rem !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 0.9rem !important;
    }

    .search-form {
        display: none;
    }

    .item-area {
        padding-top: 160px;
    }

    #topic-carousel img {
        height: calc(var(--topic-img-size) / 2);
    }

    .product-card {
        height: calc(var(--product-card-size) / 1.25) !important;
    }

}
